@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
    --primary-background: #ffffff;
    --secondary-background: #f1f1f1;
    --primary-text: #000000;
    --secondary-text: #7ac143;
}
*, body, html {
    padding: 0;
    margin: 0;
    background-color: var(--primary-background);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.background-image {
    height: 60vh;
    object-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: contain;
    background-size: cover;
}
.background-image img {
    width: 100%;
    padding: 2% 0 2% 0;
    height: 60vh;
    object-fit: cover;
    scroll-behavior: smooth;
    object-position: 20% 70%;
}
